@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --pulse: #D6402A;
    --dark-pulse: #A82F1E;
    --ink: #17181B;
    --paper: #F1EEE6;
    --grey: #82857C;
    --steel: #3C4750; 

    --font-display: 'Anton', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'IBM Plex Mono', monospace;

    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;
    --fs-label: 0.875rem;
    --fs-stat: 0.75rem;

    --ls-label: 0.125rem;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    scale: 1.1;
}

img{
    filter: grayscale(200);
}

.pulse-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--paper);
    padding: 0.5em 1em;
    position: sticky;
    top: 0;
    border-bottom: 2px solid var(--ink);
    z-index: 150;

}

.logo{
    display: flex;
    font-size: var(--fs-h3);
    font-family: var(--font-display);
    color: black;
    align-items: center;
    gap: 0.5em;
}

.logo-square{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--pulse);
}


.header-nav{
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: var(--font-body);
    font-size: var(--fs-stat);
    font-weight: bold;
}

.header-nav a{
    color: black;
}

.pulse-footer{
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1.25em;
    background-color: var(--ink);
}

.logo-footer{
    display: flex;
    font-size: var(--fs-h2);
    font-family: var(--font-display);
    color: white;
    align-items: center;
    gap: 0.5em;
}

.body-grey{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: var(--grey);
    margin: 0;

}

.label-grey{
    font-family: var(--font-label);
    font-size: var(--fs-label);
    color: var(--grey);
    letter-spacing: var(--ls-label);
    margin: 0;
}

.introduction-bg{
    background-image: url(./images/skupinovy-trenink-img.avif);
}

.introduction{
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1.25em;

}

.h1{
    font-size: var(--fs-h1);
    font-family: var(--font-display);
    margin: 0;
}
.h1--white{
    color: white;
}

.highlight{
    color: var(--pulse);
}

.label-red{
    font-family: var(--font-label);
    font-size: var(--fs-label);
    color: var(--pulse);
    letter-spacing: var(--ls-label);
    margin: 0;
}

.body-white{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    color: white;
    margin: 0;
}

.btn-primary{
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: var(--pulse);
    color: white;
    font-family: var(--font-body);
    font-size: var(--fs-body);
    letter-spacing: var(--ls-label);
    font-weight: 700;
    border: 2px solid var(--pulse);
    max-width: fit-content;
    transition: 0.5s;
    text-align: center;
}

.btn-primary:hover{
    background-color: var(--dark-pulse);
    border-color: var(--dark-pulse);
    
}

.btn-secondary{
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: white;
    color: var(--ink);
    font-family: var(--font-body);
    font-size: var(--fs-body);
    letter-spacing: var(--ls-label);
    font-weight: 700;
    border: 2px solid var(--ink);
    max-width: fit-content;
    transition: 0.5s;
    text-align: center;
}

.btn-secondary:hover{
    background-color: var(--ink);
    color: white;
    
}

.description{
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1.25em;
}

.h2{
    font-size: var(--fs-h2);
    font-family: var(--font-display);
    margin: 0;

}

.h3{
    font-family: var(--font-display);
    font-size: var(--fs-h3);
    margin: 0;
}

.h2--red{
    color: var(--pulse);
}

.step-line{
    display: inline-block;
    height: 5px;
    width: 100%;
    background-color: var(--ink);
}

.step{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.step-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
}

.body-black{
    font-family: var(--font-body);
    font-size: var(--fs-body);
    margin: 0;
}

.body-bold{
    font-size: var(--fs-body);
    font-family: var(--font-body);
    font-weight: bold;
    margin: 0;
}

.stat-grey{
    font-size: var(--fs-stat);
    font-family: var(--font-label);
    color: var(--grey);
    margin: 0;
}

.sluzby-introduction{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25em;
    padding: 1.25em;
    }

.sluzba{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1.25em;
    border: 2px solid var(--ink);
    transition: 0.5s;
    justify-self: center;
    padding-bottom: 1.25em;
    
        
}

.rectangle{
    display: inline-block;
    width: 4.5em;
    height: 1em;
    background-color: var(--grey);
}

.rectangle--red{
    background-color: var(--pulse);
}

.rectangle-scale{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sluzba-img{
    height: 150px;
    object-fit: cover;
}

.sluzba-content{
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    
}

.sluzba-ul{
    list-style: none;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
}

.sluzba-ul li::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--pulse);
    margin-right: 10px;
}

.btn-sluzba{
    align-self: center;
    margin-top: auto;
}

.sluzba--favourite{
    border: 2px solid var(--pulse);
    position: relative;
    
}



.tag{
    font-size: var(--fs-stat);
    font-family: var(--font-label);
    color: white;
    padding: 0.25em;
    background-color: var(--pulse);
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 60;
}

.sluzby-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5em;
    padding: 1.25em;
    grid-template-rows: auto;
    margin: 1em;
    
}

.omne-introduction{
    background-color: var(--paper);
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1em;
}

.omne-introduction-content{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.omne-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    
}

.body-bold-red{
    color: var(--pulse);
    margin: 0;
}

.quote{
    background-color: var(--ink);
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.25em;
    text-align: center;
    gap: 1.25em;
}

.h3--white{
    color: white;
}

.training{
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1.25em;

}

.training-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));;
    gap: 1.25em;
}

.training-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25em;
    }

.omne-img-div{
    position: relative;
    align-self: center;
}

.omne-tag{
    position: absolute;
    bottom: 5px;
    left:10px;
    font-size: var(--fs-stat);
    font-family: var(--font-label);
    padding: 10px;
    color: white;
    background-color: var(--pulse);
    z-index: 30;
}

.h2-white{
    color: white;
}

.label-white{
    font-family: var(--font-label);
    font-size: var(--fs-label);
    color: white;
    letter-spacing: var(--ls-label);
    margin: 0;
}

.formular-introduction{
    background-image: url(./images/rope-swinging-img\ 2.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 1.25em;
    gap: 1.25em;
}

.formular{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1.25em;
    background-color: var(--paper);

}

form{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
   align-items: center;
    
}

.formular-bunky{
    
}

.bunka{
    align-self: center;
    margin-top: 1.25em;
    
}

.bunka input{
    border-radius: 0%;
    border: 1px solid var(--grey);
    width: 300px;
    height: 40px;
}

.bunka select{
    border-radius: 0%;
    border: 1px solid var(--grey);
    width: 100%;
    height: 40px
}

form > button{
    align-self: center;

}



form > button:hover{
    scale: 1.1;
    
}

.review{
    border: 2px solid var(--ink);
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: 220px;
    background-color: white;
    transition: 0.5s;
    justify-self: center;
}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1.25em;
    background-color: var(--paper);
}

.reviewer{
    margin-top: auto;
}

.review-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.25em;
}

@media (min-width: 800px) {
    .pulse-footer{
        align-items: center;
    }

    .introduction{
        max-width: 50%;
    }

    .sluzby-introduction{
        align-items: center;
    }

    
    .omne-introduction{
        display: flex;
        flex-direction: row;
        gap: 1.25em;
    }

    .quote{
        padding: 5em 4em;
    }

    .training-title{
        align-items: center;
    }

    .formular{
        flex-direction: row;
        justify-content: space-between;
        padding: 2.5em;
    }

    .formular-title{
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        justify-content: center;
    }

    .logo{
        font-size: var(--fs-h2);
    }

    .header-nav{
        font-size: var(--fs-body);
    }

    
}