@import url('https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --pulse: #D6402A;
    --dark-pulse: #A82F1E;
    --ink: #17181B;
    --paper: #F1EEE6;
    --grey: #82857C;
    --steel: #3C4750; 

    --font-display: 'Anton', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-label: 'IBM Plex Mono', monospace;

    --fs-h1: 56px;
    --fs-h2: 38px;
    --fs-h3: 22px;
    --fs-body: 16px;
    --fs-label: 18px;

    --ls-label: 2px;
}

.pulse-header{
    display: flex;
    justify-content: space-between;
    background-color: var(--paper);
}

.h2{
    
}